body {
  background: #FFFFFF;
  padding-top: 20px;
}
.header {
  text-align: center;
}
.label {
  display: block;
  color: #858585;
  font-size: 12px;
  padding: 5px 0;
  text-align: left;
}
.label2 {
  display: block;
  color: #555555;
  font-size: 12px;
  padding: 5px 0;
  margin-bottom: 10px;
}
.wrapper {
  border: 1px solid #c3c3c3;
  margin-bottom: 8px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.inner-wrapper {
  padding: 10px;
}
.inner-wrapper:before,
.inner-wrapper:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.inner-wrapper:after {
  clear: both;
}
.total-amount {
  font-size: 24px;
  color: #555555;
}
.content-wrapper {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.content-wrapper.blue {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.content-wrapper.red {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.content-wrapper input:focus {
  outline: 0;
}
.content-wrapper input.cc-data {
  width: 100%;
  border: 0px;
}
.content-wrapper .list-inline {
  margin-bottom: 0;
}
.tab {
  border-bottom: 1px solid #cccccc;
  margin-bottom: -1px;
}
.tab > h5 {
  padding: 10px 10px;
  border-bottom: 1px solid #cccccc;
  background-color: #fff;
  color: #555;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}
.hr-product {
  color: #EFEFEF;
  margin: 0;
  display: block;
}
.btn-pay {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1.428571429;
}
.btn-show-details {
  color: #333333;
  background-color: #EFEFEF;
  border-color: #cccccc;
  border-radius: 0;
  padding: 5px 15px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-show-details:hover {
  color: #333333;
  background-color: #DDDDDD;
}
.btn-hide-details,
.btn-hide-details:focus {
  color: #FFFFFF;
  background-color: #636363;
  border-color: #cccccc;
  border-radius: 0;
  padding: 5px 15px;
}
.btn-hide-details:hover {
  color: #FFFFFF;
  background-color: #747474;
}
.credit-card {
  background-color: #efefef;
  padding: 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.credit-card input {
/*  border: 0;*/
}
.card-number {
  font-size: 24px;
  color: #555555;
  height: 46px;
}
.card-number.blue {
  color: #105EA0;
  font-weight: bold;
}
.card-number.red {
  color: #b02424;
  font-weight: bold;
}
.card-number.black {
  color: #555555;
}
.cc-data {
  font-size: 14px;
}
.cc-icon {
/*  display: block;*/
  width: 52px;
  height: 33px;
  display: inline-block;
}
.card-visa {
  background: url(../img/visa_logo.png);
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.card-mastercard {
  background: url(../img/mastercard_logo.png);
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.card-invalid {
  background: url(../img/sprites.png) 0 -74px no-repeat;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.card-default {
  background: url(../img/sprites.png) 0 -110px no-repeat;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 0.5;
}
.purchased-product {
  background-color: #636363;
  margin: 0 -1px;
  padding: 0 1px;
  color: #efefef;
  font-size: 12px;
}
.item {
  padding: 10px 0;
}
.item-name,
.quantity,
.price {
  display: block;
}
.item-name {
  font-size: 18px;
  text-transform: uppercase;
}
.item-image {
  width: 100%;
  height: auto;
}
.price {
  text-align: left;
}
.price.total {
  font-size: 16px;
}
.payment-options,
.shipping-information {
  background-color: #efefef;
  border-bottom: 1px solid #cccccc;
}
.payment-options .row {
  margin-bottom: 10px;
}
.bank-logo {
  display: inline-block;
  width: 120px;
  height: 40px;
}
.bank-bni {
  background: url(../img/bni_logo.png);
}
.bank-mandiri {
  background: url(../img/mandiri_logo.png);
}
.bank-cimbniaga {
  background: url(../img/cimb_niaga_logo.png);
}
@media (max-width: 480px) {
  .total-amount {
    font-size: 18px;
  }
  .content-wrapper {
    padding: 5px;
  }
  .card-number {
    font-size: 16px;
  }
  .cc-icon {
    margin-top: 2px;
    width: 39px;
    height: 24.75px;
  }
  .card-visa {
    background: url(../img/sprites-smaller.png) 0 0 no-repeat;
  }
  .card-mastercard {
    background: url(../img/sprites-smaller.png) 0 -28px no-repeat;
  }
  .card-invalid {
    background: url(../img/sprites-smaller.png) 0 -54px no-repeat;
  }
  .card-default {
    background: url(../img/sprites-smaller.png) 0 -82px no-repeat;
  }
  .bank-logo {
    display: inline-block;
    width: 80px;
    height: 24px;
  }
  .bank-bni {
    background: url(../img/bni_logo_smaller.png);
  }
  .bank-mandiri {
    background: url(../img/mandiri_logo_smaller.png);
  }
  .bank-cimbniaga {
    background: url(../img/cimb_niaga_logo_smaller.png);
  }
}

.animate-show {
  opacity:1;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  max-height: 500px;
}

.animate-show.ng-hide {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  max-height: 0; 
  opacity:0;
}

.animate-slide-down {
  transform: scale(1,1);
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
}

.animate-slide-down.ng-hide {
  transform: scale(1,0);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
     border: 1px solid #cccccc;
}

input[type="radio"]:checked + label span.bank-bni{
     border: 2px solid #005E6A;
}

input[type="radio"]:checked + label span.bank-mandiri{
     border: 2px solid #1B4A7F;
}

input[type="radio"]:checked + label span.bank-cimbniaga{
     border: 2px solid #EB3232;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  cursor: pointer;
  -webkit-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

.form-control {
/*  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);*/
  border-radius: 0px;
  margin-bottom: 10px;
}

input[type=radio].css-checkbox {
  position:absolute; 
  z-index:-1000; 
  left:-1000px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0; 
  border:0;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left:28px;
  height:23px; 
  display:inline-block;
  line-height:23px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -23px;
}
label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_81e00c47968e53d13f77901d81815d27.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verticalLine {
    padding-left: 10px;
    border-left: 2px solid #EFEFEF;
    height: 80%;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon i  { left: 0px;}
.right-addon i { top: 6px; right: 10px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.error-message {
  color: #b02424;
}